<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> -->
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="overlay">
          <header>
            <div class="logo-container">
              <h1>LOGO</h1>
            </div>
            <nav>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </nav>
            <div class="cta">
              <button>Get Started</button>
            </div>
          </header>
          <div class="container">
            <section class="primary">
              <h1>Discover About <span>Tech</span></h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                repudiandae illum, magni distinctio quod dolorem temporibus,
                libero veniam modi minus voluptas enim atque quibusdam,
                veritatis excepturi reiciendis eveniet sit? Necessitatibus!
              </p>
            </section>
            <section class="secondary">
              <div class="input">
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="Search Anything..."
                />
                <img
                  src="../assets/images/853.png"
                  alt="search"
                  srcset=""
                  style="color: #fff"
                />
              </div>
            </section>
          </div>
        </div>
      </div>
      <main></main>
    </div>
  </body>
</html>
