.container {
  // overflow: hidden;
  width: 100%;
  // margin: 0 auto;
  height: 100%;
}

.body-overlay {
  background-color: rgba($color: #000, $alpha: 0.8);
}

.overlay {
  background: rgba($color: #000, $alpha: 0.7);
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: transparent;
  background-color: rgba($color: #fff, $alpha: 0.5);
  backdrop-filter: blur(5px);
  gap: 2rem;
  // position: fixed;
  .logo-container {
    padding: 0.5rem;
    width: 33.3333%;

    h1 {
      // font-size: 2rem;
      font-weight: 900;
      font-family: Roboto;
      color: red;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: center;
      gap: 2rem;
      list-style: none;
      li {
        a {
          text-decoration: none;
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }
  }
  .cta {
    display: flex;
    justify-content: right;
    width: 33.3333%;
    button {
      display: flex;
      justify-content: center;
      padding: 1rem;
      width: 200px;
      background-color: rgb(69, 69, 236);
      color: #fff;
      font-size: 18px;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 20px rgba(69, 69, 236, 0.5);
      animation: bgflash 1.5s infinite alternate;
      // transition: box-shadow 0.5s ease-in-out;
    }
    @media screen and (max-width: 768px) {
      button {
        display: none;
      }
    }
  }
}
.hamburger {
  display: none;
  // border: 1px solid white;
  width: 50px;
  // height: 50px;
  cursor: pointer;
  div {
    height: 2.5px;
    // border: 2px solid white;
    background-color: #fff;
    margin: 0.38em;
  }
}

.primary {
  width: 100%;
  // margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 2rem;
  h1 {
    font-size: 4rem;
    color: #fff;
    margin-top: 2rem;
    span {
      color: red;
    }
  }
  p {
    color: #fff;
    text-align: center;
    // letter-spacing: 0.159rem;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 2;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 48px;
      text-align: center;
      line-height: 1;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

.secondary {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  .input {
    width: 100%;
    position: relative;
    input[type="text"] {
      padding: 1rem;
      border-radius: 0.5rem;
      width: 100%;
      font-size: 1.5rem;
    }
    img {
      position: absolute;
      top: 4px;
      right: 0;
      cursor: pointer;
    }
  }
}

@keyframes bgflash {
  from {
    box-shadow: 5px 7px 2px rgba(69, 69, 236, 0.5);
    transform: scale(1);
  }
  to {
    box-shadow: 5px 10px 50px rgba(69, 69, 236, 0.5);
    transform: scale(1.08);
  }
}

@media screen and (max-width: 768px) {
  .main-nav {
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.951);
    backdrop-filter: blur(5px);
    top: 0;
    height: 100vh;
    right: 0;
    width: 100%;
    z-index: 1;

    ul {
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
    }
  }
  .cta {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    z-index: 1;
    width: 45px;
    div {
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(3) {
        display: none;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }
    }
  }
  .input {
    input[type="text"] {
      padding: 1rem;
      border-radius: 0.5rem;
      width: 100%;
      font-size: 1.5rem;
      position: relative;
      z-index: -999999999;
    }
    img {
      z-index: -999999999;
    }
  }
}
